In [1]:
import pandas as pd

# leetcode proplems to review:
1. Reshape Data: Pivot
2. Reshape Data: melt
3. Customers who never order

## sample 1

In [2]:
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
    ]
data = pd.DataFrame(student_data, columns = ['student_id', 'age'])

df = pd.DataFrame(data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [3]:
df['bonus'] = df['age'] *2

In [4]:
df

   student_id  age  bonus
0           1   15     30
1           2   11     22
2           3   11     22
3           4   20     40

In [5]:
df.query('age == 11 & bonus == 22')[['student_id']]

   student_id
1           2
2           3

## Sample 2

In [6]:
customers = { 'a_id': [1 ,2, 3, 2, 1, 6], 'name': ['aa', 'bb', 'cc' , 'dd', 'ee', 'ff'], 'v_id': [3, 1, 4, 3, 5, 6]}
orders = { 'id': [1, 2], 'customerId': [3, 1]}

In [7]:
customers = pd.DataFrame(customers)
orders = pd.DataFrame(orders)

In [8]:
customers

   a_id name  v_id
0     1   aa     3
1     2   bb     1
2     3   cc     4
3     2   dd     3
4     1   ee     5
5     6   ff     6

In [9]:
df = pd.DataFrame()

In [10]:
df['id'] = customers.loc[customers['a_id'].isin(customers.v_id)][['a_id']]
df = df.sort_values('id')
df = df.drop_duplicates()

In [11]:
df['dsd'] = df['id'].unique()

In [12]:
df

   id  dsd
0   1    1
2   3    3
5   6    6